/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.containers {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(252, 199, 239);
}

header h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.content {
    margin-bottom: 20px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.media img {
    max-width: 30%;
    height: auto;
    margin-bottom: 15px;
    flex: 1 1 45%;
    margin-right: 5px;
}

footer p {
    text-align: center;
    font-size: 1em;
    color: #555;
}

#paragraph p {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
#paragraph1, #paragraph2, #paragraph3, #paragraph4, #paragraph5, #paragraph6 {
    opacity: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos para el enlace de regreso */
.back-link {
    position: absolute;
    top: 60px;
    left: 60px;
    text-decoration: none;
    color: #555;
    font-size: 1em;
    border: 1px solid #555;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.back-link:hover {
    background-color: #555;
    color: #fff;
}

/* Responsive Design */

@media (max-width: 768px) {
    .containers {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .media img {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    footer p {
        font-size: 0.9em;
    }
.heartbeat {
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
    }
}

